# Example Verification Report

Generated at: 2026-04-30T15:59:47.115Z
Verification dir: /Users/elijah/Desktop/pet_proj/LATEX2DOCX/.latex2docx-data/dev/verification/2026-04-30T15-59-05-683Z

## 07-理工类论文模板（自动生成目录版）.doc

Schema: /Users/elijah/Desktop/pet_proj/LATEX2DOCX/.latex2docx-data/dev/verification/2026-04-30T15-59-05-683Z/templates/07-fac7e711-dec7-4400-b1ff-9b55a9961205/v1/schema.json
Output: /Users/elijah/Desktop/pet_proj/LATEX2DOCX/.latex2docx-data/dev/verification/2026-04-30T15-59-05-683Z/jobs/bbbf84a5-c638-4d22-bb0b-4989bf6d6b6a/fixed-template.docx
Source render pages: 28 (ok)
Output render pages: 2 (ok)
Math/Image/Table/TOC: true/true/true/true
HeaderFooter source detected: true
Warnings: none

## 模板.docx

Schema: /Users/elijah/Desktop/pet_proj/LATEX2DOCX/.latex2docx-data/dev/verification/2026-04-30T15-59-05-683Z/templates/template-e0cebec6-a097-40ed-8705-71934452ddf1/v1/schema.json
Output: /Users/elijah/Desktop/pet_proj/LATEX2DOCX/.latex2docx-data/dev/verification/2026-04-30T15-59-05-683Z/jobs/f994c875-1be5-4ac4-b7f4-960c0270b087/fixed-template.docx
Source render pages: 11 (ok)
Output render pages: 2 (ok)
Math/Image/Table/TOC: true/true/true/true
HeaderFooter source detected: true
Warnings: 未检测到 numbering.xml 或段落编号信息，标题层级主要来自文本模式。

## 论文.docx

Schema: /Users/elijah/Desktop/pet_proj/LATEX2DOCX/.latex2docx-data/dev/verification/2026-04-30T15-59-05-683Z/templates/template-e6f17722-0c37-40fc-b3a9-6c9c561b6a99/v1/schema.json
Output: /Users/elijah/Desktop/pet_proj/LATEX2DOCX/.latex2docx-data/dev/verification/2026-04-30T15-59-05-683Z/jobs/253e0455-b908-4052-a167-675e465f2516/fixed-template.docx
Source render pages: 18 (ok)
Output render pages: 2 (ok)
Math/Image/Table/TOC: true/true/true/true
HeaderFooter source detected: true
Warnings: 未识别到 致谢标题。

## 青岛工学院毕业论文（设计）撰写（范例）.docx

Schema: /Users/elijah/Desktop/pet_proj/LATEX2DOCX/.latex2docx-data/dev/verification/2026-04-30T15-59-05-683Z/templates/template-0dc85ec4-64f2-414d-a3b8-b078ecc4596a/v1/schema.json
Output: /Users/elijah/Desktop/pet_proj/LATEX2DOCX/.latex2docx-data/dev/verification/2026-04-30T15-59-05-683Z/jobs/a663107d-5096-496c-9576-2a15d86e7429/fixed-template.docx
Source render pages: 13 (ok)
Output render pages: 2 (ok)
Math/Image/Table/TOC: true/true/true/true
HeaderFooter source detected: true
Warnings: 未检测到 numbering.xml 或段落编号信息，标题层级主要来自文本模式。

## （1）本科毕业设计（论文）文本模板.doc

Schema: /Users/elijah/Desktop/pet_proj/LATEX2DOCX/.latex2docx-data/dev/verification/2026-04-30T15-59-05-683Z/templates/1-13205804-0098-443d-a10c-f34523571692/v1/schema.json
Output: /Users/elijah/Desktop/pet_proj/LATEX2DOCX/.latex2docx-data/dev/verification/2026-04-30T15-59-05-683Z/jobs/4d1036c6-4a80-4fbb-98d0-e4b04cb66121/fixed-template.docx
Source render pages: 11 (ok)
Output render pages: 2 (ok)
Math/Image/Table/TOC: true/true/true/true
HeaderFooter source detected: true
Warnings: 未检测到 numbering.xml 或段落编号信息，标题层级主要来自文本模式。
